<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>This is the begining of an end</h1>
    <div id="root">
        <input type="text" v-model="message">
        <p>This is the message: {{ message }}</p>
        
        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>


        <input id="input" type="text" v-model="newName">
        <button v-on:click="addName">Add more</button>
    </div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#root',

            data: {
                newName:'',
                message : 'This is home',
                names :['Ram', 'Hari', 'Sita']
            },

            methods: {
                addName() {
                    this.names.push(this.newName);
                    this.newName = '';
                }
            },    

            // mounted() {
            //     alert('ready')
            //     document.querySelector('#button').addEventListener('click', () => {

            //     let name = document.querySelector('#input');
            //     app.names.push(name.value);

            //     name.value = '';
            //     });
            // }
        });

       
    </script>
</body>
</html>